<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="js/angular-md5.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.signalR.min.js"></script>
  <script src="http://localhost:40001/signalr/hubs"></script>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>

<div ng-app="exampleApp">
  <div ng-controller="exampleController">
    <h3>POST http://localhost:40001/json/Authenticate</h3>
    <b>Request:</b>
    <pre>{{authenticateRequest | json:4 }}</pre>
    <b>Response:</b>
    <pre>{{authenticateResponse | json:4 }}</pre>

    <div ng-if="eventGetListRequest">
      <h3>POST http://localhost:40001/json/EventGetList</h3>
      <b>Request:</b>
      <pre>{{eventGetListRequest | json:4 }}</pre>
      <b>Response:</b>
      <pre>{{eventGetListResponse | json:4 }}</pre>

      <div>
        <b>Events:</b>
        <table>
          <tr>
            <td>Card.Token</td>
            <td>Card.Name</td>
            <td>CardCode</td>
            <td>Device.Token</td>
            <td>Device.Name</td>
            <td>Issued</td>
            <td>Message.Code</td>
            <td>Message.Name</td>
            <td>Sender.Token</td>
            <td>Sender.Name</td>
            <td>User.Token</td>
            <td>User.Name</td>
          </tr>
          <tr ng-repeat="x in events">
            <td>{{ x.Card.Token }}</td>
            <td>{{ x.Card.Name }}</td>
            <td>{{ x.CardCode }}</td>
            <td>{{ x.Device.Token }}</td>
            <td>{{ x.Device.Name }}</td>
            <td>{{ x.Date | date:'dd.MM.yy HH:mm:ss' }}</td>
            <td>{{ x.Message.Code }}</td>
            <td>{{ x.Message.Name }}</td>
            <td>{{ x.Sender.Token }}</td>
            <td>{{ x.Sender.Name }}</td>
            <td>{{ x.User.Token }}</td>
            <td>{{ x.User.Name }}</td>
          </tr>
        </table>
      <div>
    </div>

    <div ng-if="newEventGetListRequest">
      <h3>POST http://localhost:40001/json/EventGetList with subscription for new events</h3>
      <b>Request:</b>
      <pre>{{newEventGetListRequest | json:4 }}</pre>
      <b>Response:</b>
      <pre>{{newEventGetListResponse | json:4 }}</pre>
    </div>

    <div ng-if="notificationsVisible">
      <div ng-if="timeToStop > 0"><b>Notifications ({{ timeToStop }} seconds to stop working):</b></div>
      <div ng-if="!timeToStop"><b>Notifications (stopped):</b></div>
      <table>
        <tr>
          <td>Card.Token</td>
          <td>Card.Name</td>
          <td>CardCode</td>
          <td>Device.Token</td>
          <td>Device.Name</td>
          <td>Issued</td>
          <td>Message.Code</td>
          <td>Message.Name</td>
          <td>Sender.Token</td>
          <td>Sender.Name</td>
          <td>User.Token</td>
          <td>User.Name</td>
        </tr>
        <tr ng-repeat="x in notifications">
          <td>{{ x.Card.Token }}</td>
          <td>{{ x.Card.Name }}</td>
          <td>{{ x.CardCode }}</td>
          <td>{{ x.Device.Token }}</td>
          <td>{{ x.Device.Name }}</td>
          <td>{{ x.Date | date:'dd.MM.yy HH:mm:ss' }}</td>
          <td>{{ x.Message.Code }}</td>
          <td>{{ x.Message.Name }}</td>
          <td>{{ x.Sender.Token }}</td>
          <td>{{ x.Sender.Name }}</td>
          <td>{{ x.User.Token }}</td>
          <td>{{ x.User.Name }}</td>
        </tr>
      </table>
    <div>

    <div ng-if="logoutRequest">
      <h3>POST http://localhost:40001/json/Logout</h3>
      <b>Request:</b>
      <pre>{{logoutRequest | json:4 }}</pre>
    </div>
  </div>
</div>
<script>

var app = angular.module('exampleApp', ['angular-md5']);

app.factory('subscriber', ['$rootScope', '$timeout',
  function($rootScope, $timeout) {
    var Service = {};
    var hub = null;

    Service.onMessage = function(s) {
      Service.callback(JSON.parse(s));
    };

    Service.disconnect = function() {
      if (!!hub) {
        hub = null;
        $.connection.hub.disconnected(function(){});
        $.connection.hub.stop();
      }
    }

    Service.unsubscribe = function() {
      if (!!hub) {
        hub.server.unsubscribe()
      }
    }

    Service.subscribe = function(callback) {
      if (!hub) {
        Service.callback = callback;
        $.connection.hub.url = 'http://localhost:40001/signalr';
        hub = $.connection.myHub;
        hub.client.onMessage = Service.onMessage;
        $.connection.hub.start().done(function() {
          $rootScope.$apply($rootScope.connected = true);
          hub.server.subscribe($rootScope.UserSID);
        });
        $.connection.hub.reconnected(function() {
          hub.server.subscribe($rootScope.UserSID);
        });
        $.connection.hub.disconnected(function() {
          $rootScope.$apply($rootScope.connected = false);
          if (!!hub) {
            $timeout(function() {
              $.connection.hub.start().done(function() {
                hub.server.subscribe($rootScope.UserSID);
              });
            }, 5000);
          }
        });
      }
    }

    return Service
  }]);

app.controller('exampleController', ['$rootScope', '$scope', '$http', '$timeout', 'md5', 'subscriber',
  function($rootScope, $scope, $http, $timeout, md5, subscriber) {
    $scope.events = [];
    $scope.notifications = [];
    $scope.UserSID = '';
    $scope.timeToStop = 30;
    $scope.highestEventToken = 0;
    authenticate('admin', 'admin');

    function authenticate(user, password) {
      var PasswordHash = md5.createHash(md5.createHash(md5.createHash(password).toUpperCase() + 'F593B01C562548C6B7A31B30884BDE53').toUpperCase()).toUpperCase();
      $scope.authenticateRequest = {UserName: user, PasswordHash: PasswordHash};
      $http.post('http://localhost:40001/json/Authenticate', $scope.authenticateRequest)
           .then(function(response) {
             $scope.authenticateResponse = response.data;
             $scope.UserSID = response.data.UserSID;
             $rootScope.UserSID = response.data.UserSID;
             if ($scope.UserSID != '') {
               eventGetList(2, 0);  // get two events
             }
           },
           function(response) {
             $scope.authenticateResponse = 'Authentication error';
           });
    }

    function eventGetList(count, startToken) {
      $scope.eventGetListRequest = {UserSID: $scope.UserSID, Limit: -1, StartToken: startToken}; // get one last event
      $http.post('http://localhost:40001/json/EventGetList', $scope.eventGetListRequest)
           .then(function(response) {
             $scope.eventGetListResponse = response.data;
             response.data.Event.forEach(function(x) {
               if ($scope.highestEventToken < x.Token) {
                 $scope.highestEventToken = x.Token;
               }
             });
             pushIncomingEvents($scope.events, response.data.Event);
             console.log(count);
             if (count > 1) {
               eventGetList(count - 1, response.data.NextToken); // get next events
             }
             else {
               newEventGetList(response.data.Event ? response.data.Event[0].Token + 1 : 0);
             }
           },
           function(response) {
             $scope.eventGetListResponse = 'Event loading error';
           });      
    }

    function newEventGetList(token) {
      subscriber.subscribe(onMessage);
      $scope.newEventGetListRequest = {UserSID: $scope.UserSID, Limit: 0, StartToken: token, SubscriptionEnabled: true};
      $http.post('http://localhost:40001/json/EventGetList', $scope.newEventGetListRequest)
           .then(function(response) {
             $scope.notificationsVisible = true;
             $scope.newEventGetListResponse = response.data;
             $timeout(showTimeToStop, 1000);
             $timeout(logout, $scope.timeToStop * 1000);
           },
           function(response) {
             $scope.newEventGetListResponse = 'Event subscription error';
           });
      
    }

    function pushIncomingEvents(target, events) {
      events.forEach(function(x) {
        var timeMS = parseInt(x.Issued.substring(6));
        x.Date = new Date(timeMS);
        target.push(x);
      });
    }

    function onMessage(message) {
      if (message.Event) {
        pushIncomingEvents($scope.notifications, message.Event);
        $scope.$apply();
      }
    }

    function logout() {
      subscriber.unsubscribe();
      subscriber.disconnect();
      $scope.logoutRequest = {UserSID: $scope.UserSID};
      $http.post('http://localhost:40001/json/Logout', $scope.logoutRequest);
    }

    function showTimeToStop() { 
      if ($scope.timeToStop) {
        $scope.timeToStop--;
        $timeout(showTimeToStop, 1000);
      }
    }
  }]);

</script>

</body>
</html>
